:root{
    --main-background : #A9E5F0;
    --buttons-color : #61DCF2;
    --text-color : #2D6670;
}

*{
    box-sizing:border-box;
}

body{
    color:var(--text-color);
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    margin:0;
}