:root {
	--main-background: #a9e5f0;
	--buttons-color: #61dcf2;
	--text-color: #2d6670;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding:0;
}

@font-face {
    font-family: "harrigton";
    src: url("../ressources/fonts/Harrington.ttf");
}

body {
	min-height: 100vh;	
    background-color:var(--main-background);
    color:var(--text-color);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-family:harrigton, tahoma, serif;
}

main{
    display:flex;
    align-items:center;
    justify-content:center;
}


h1 a{
    text-decoration:none;
}

.fresh{
    color:white;
    font-size:0.6em;
}

.pivee{
    color:black;
    position:relative;
    top:-15px;
}

.menu {
	background: var(--text-color);
    display: flex;
	justify-content: space-around;
	align-items: center;
    list-style-type: none; 
}

.menu img{
    width: 15vw;
    margin:10px;
}

#top_menu input{
    display:none;
}

#top_menu .logo h1{
    display:none;
}

#nav_menu .logo{
    display: none;
}

#nav_menu span{
    display:none;
}

input[type=submit], button{
    background-color:var(--buttons-color);
    color:var(--text-color);
    border: 1px solid var(--text-color);
    padding:3px;
    border-radius:5px;
    cursor:pointer;
}

main input[type=submit]:hover, main button:hover{
    background-color:var(--text-color);
    color:var(--main-background);
    cursor:pointer;
}

#top_menu input[type=submit]{
    border-radius:0 5px 5px 0;
}

#viewer{
    max-width:80%;
}

main{
    display:grid;
}

@media(orientation:landscape){

    body{
        display:grid;
        grid-template-rows: 7vh 1fr;
        grid-template-columns:20vw 1fr;
        grid-template-areas:    'menu top'
                                'menu content';
    }

    #top_menu{
        grid-area:top;
        justify-content:flex-end;
    }
    
    

    #nav_menu{
        grid-area:menu;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column;
        padding-left:2vw;
        min-width:200px;
    }

    main{
        grid-area:content;
    }

    .menu img{
        height:5vh;
        width:5vh;
    }    

    #top_menu .logo{
        display: none;
    }

    #nav_menu .logo img{
        margin:0;
    }

    #nav_menu a{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        color:var(--main-background);
        text-decoration:none;
        order:2;
    }

    #nav_menu .logo{
        display: flex;
        order:0;
    }

    #nav_menu .logo img{        
        height:12vh;
        width:12vh;        
    }

    .active_menu span{
        background:var(--main-background);
        color:var(--text-color);
        border-radius:10px;
        padding:10px;
    }

    #nav_menu span{
        display:inline;
        padding-left:20px;
    }

    a#home_button{
        order:1;
    }

    #top_menu form{
        display:flex;
    }

    #top_menu input{
        display:block;
        border: none;
        padding:2px;
        font-size:1.2em;
    }

    #search_button{
        display:none;
    }
}