:root {
	--main-background: #a9e5f0;
	--buttons-color: #61dcf2;
	--text-color: #2d6670;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding:0;
    transition: background 1.5s ease-in-out;
    scrollbar-color: var(--text-color) var(--buttons-color);
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    background:var(--buttons-color);
    width:5px;
}

*::-webkit-scrollbar-thumb{
    background:var(--text-color);
    border-radius:2px;
}

@font-face {
    font-family: "harrington";
    src: url("../ressources/fonts/Harrington.ttf");
}

body {
	min-height: 100vh;	
    background-color:var(--main-background);
    color:var(--text-color);
    font-family:harrington, tahoma, serif;
}

h1{
    font-size:40px;
}

h2{
    font-family:harrington, tahoma, serif;
    font-size:2.2em;
}

.fresh{
    color:white;
    font-size:0.6em;
}

.pivee{
    color:black;
    position:relative;
    top:-8px;
}

.menu {
	background: var(--text-color);
    display: flex;
	justify-content: space-around;
	align-items: center;
    list-style-type: none; 
}

.menu img{
    width: 15vw;
    margin:10px;
}

#top_menu input{
    display:none;
}

#top_menu a.logo{
    display:flex;
    align-items:center;
    text-decoration:none;
}

#top_menu .logo h1{
    font-size:1.4em;
}

#nav_menu{
    position:fixed;
    bottom:0;
    width:100vw;
}

#nav_menu .logo{
    display: none;
}

#nav_menu span{
    display:none;
}

input[type=submit], button{
    background-color:var(--buttons-color);
    color:var(--text-color);
    border: 1px solid var(--text-color);
    padding:3px;
    border-radius:5px;
    cursor:pointer;
}

main input[type=submit]:hover, main button:hover{
    background-color:var(--text-color);
    color:var(--main-background);
    cursor:pointer;
}

input[type=submit].active, button.active{
    background-color:var(--text-color);
    color:var(--main-background);
}

input[type=submit].active:hover, button.active:hover{
    background-color:var(--buttons-color);
    color:var(--text-color);
}

#top_menu input[type=submit]{
    border-radius:0 5px 5px 0;
}

#viewer{
    max-width:80%;
}

main{
    display:flex;    
    flex-wrap:wrap;    
    justify-content:space-around;
    align-items:center;
    justify-content:center;
    font-family: Montserrat, tahoma, serif;
    padding:2vh;
    padding-bottom:20vh;
}


h2{
    width:100%;
}

figure{
    margin:15px;
}

main a>figure>img, main a>figure>video{
    max-width:90vw;
}

figure{
    width:90vw;
    min-height:10vh;
    position:relative;
    background:var(--text-color);
    color:white;
    text-align:center;
}

figure figcaption{
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%;
    background:#2441469f;
}

#evaluation{
    display:flex;
    justify-content:space-between;
}

#likeBarContainer{
    background:#833333;
    height:20px;
    width:100px;
}

#likeBar{
    background:green;
    height:100%;
}

#evaluation{
    width:80%;
}

#comments{
    margin-top:20px;    
}

#comments form{
    display:flex;
}

#comments form input[type=submit]{
    border-radius:0 5px 5px 0;
}

.comment{
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid var(--text-color);
    padding:5px;
}

#uploader h4{
    margin-left:15px;
}

.comment h4{
    font-size:1.2em;
}

.comment em{
    font-size:0.8em;
    margin-right:20px;
}

#comment_content{
    width:80%;
    height:8vh;
}

[page=picture],[page=video]{
    flex-direction:column;
}

[page=picture]>section,[page=video]>section,[page=member]>section{
    width:80%;
    margin:10px 0;
}

#uploads{
    display:flex;
    flex-wrap:wrap;
}

[page=member] #uploader{
    width:100%;
}

#uploader form{
    display:flex;
    flex-direction: row;
    align-items:center;
}

#darkMode{
    width:48px;
    height:48px;
    border-radius:50%;
    font-size:1.6em;
}

@media(orientation:landscape){

    body{
        height:100vh;
        display:grid;
        grid-template-rows: 7vh 1fr;
        grid-template-columns:300px 1fr;
        grid-template-areas:    'menu top'
                                'menu content';
    }

    #top_menu{
        grid-area:top;
        justify-content:flex-end;
    }  
    

    #nav_menu{
        position:initial;
        grid-area:menu;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column;
        padding-left:2vw;
        width:300px;
    }

    main{
        grid-area:content;
    }

    .menu img{
        height:5vh;
        width:5vh;
    }    

    #top_menu a.logo{
        display: none;
    }

    #nav_menu .logo img{
        margin:0;
    }

    #nav_menu a{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        color:var(--main-background);
        text-decoration:none;
        order:2;
    }

    #nav_menu .logo{
        display: flex;
        order:0;
    }

    #nav_menu .logo img{        
        height:12vh;
        width:12vh;        
    }

    .active_menu span{
        background:var(--main-background);
        color:var(--text-color);
        border-radius:10px;
        padding:10px;
    }

    #nav_menu span{
        display:inline;
        padding-left:20px;
    }

    a#home_button{
        order:1;
    }

    #top_menu form{
        display:flex;
    }

    #top_menu input{
        display:block;
        border: none;
        padding:2px;
        font-size:1.2em;
    }

    #search_button{
        display:none;
    }

    main a>figure>img, main a>figure>video{
        max-width:15vw;
        max-height:15vh;
    }

    main a>figure{
        width:15vw;
        height:15vh;
    }
}

body.dark{
    --main-background: #0a0c0c;
	--buttons-color: #244146;
	--text-color: #517379;
}